.main-pane {
	-fx-background-color: linear-gradient(to bottom right, #dbeafe, #90caf9);
}
.main-table {
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 12;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.10), 6, 0.1, 0, 2);
}

.main-table .column-header-background {
    -fx-background-radius: 20 20 0 0;
}

.main-table .column-header, .main-table .column-header .label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.main-table .table-row-cell {
    -fx-background-color: rgba(255,255,255,0.85);
    -fx-font-size: 17px;
}

.main-table .table-row-cell:selected {
    -fx-background-color: #90caf9;
}

.main-table .table-cell {
    -fx-alignment: CENTER;
}